
body {
    font-family: Arial, Helvetica, sans-serif;
     background-color: #e3e3e3;

}


header {
		background: #001157;
		color: white;
		padding: 30px 50px;
		text-align: center;

}


nav {
		background: #ffbb00;
		padding: 12px;
		text-align: center;
		position: sticky;
		top: 0;
		z-index: 1080;

}

nav a.current {
    background-color: #001157;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

nav a {
		color: white;
		text-decoration: none;
		margin: 15px 25px;
		font-weight: 680;
}

nav a:hover {
		text-decoration: underline;
		
}

section {
		background: white;
		padding: 20px 20px;
		border-radius: 25px;
		margin: 20px;
	
}

#afb1 {
	    border-radius: 6px;
		height: auto;
		max-width: 100%;
		width: 2000px; 

}
footer {
		background: #001157;
		text-align: center;
		padding: 12px 10px;
		color: white;
		
}




