
body {
    font-family: Arial, Helvetica, sans-serif;
     background-color: #e3e3e3;

}


header {
		background: #001157;
		color: white;
		padding: 30px 50px;
		text-align: center;

}


nav {
		background: #ffbb00;
		padding: 12px;
		text-align: center;
		position: sticky;
		top: 0;
		z-index: 1080;

}

nav a.current {
    background-color: #001157;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

nav a {
		color: white;
		text-decoration: none;
		margin: 15px 25px;
		font-weight: 680;
}

nav a:hover {
		text-decoration: underline;
		
}

.afb {
		border-radius: 10px;
		height: 280px;
		max-width: 100%;
		width: auto; 
		position: relative;
		float: right;
		margin: -20px 0px 5px 5px;
		border: 5px solid;

}

#afb1 {
		border-radius: 10px;
		height: 280px;
		max-width: 100%;
		width: auto; 
		position: relative;
		float: right;
		margin: -300px 0px 5px 5px;
		border: 5px solid;


}
table {
        border-collapse: collapse;
        width: 300px;
}
       
th, td {
        border: 1px solid black;
        padding: 6px;
        text-align: left;
}
        
th {
        text-align: center;
}

section {
		background: white;
		padding: 20px 20px;
		border-radius: 25px;
		margin: 20px;
	
}

footer {
		background: #001157;
		text-align: center;
		padding: 12px 10px;
		color: white;
		
}




